<h2>Recuperando Senha</h2>

<p>Uma solicitação de recuperação de senha for realizada para o e-mail ({{email}}). Se você não solicitou a recuperação
  de senha, favor trocar sua senha para maior segurança</p>
<p>Para recuperação de senha, utilize o código {{token}}, ou clique no link.</p>
<a href="{{link}}">Recuperar senha</a>
